<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="static/styles/calendar.css">
	<link rel="stylesheet" href="static/styles/fontawesome-free-5.15.1-web/css/fontawesome.css">
	<link rel="stylesheet" href="static/styles/fontawesome-free-5.15.1-web/css/solid.css">
	<title>Calendar</title>

    <script src="static/scripts/events.js"></script>
    <script src="static/scripts/calendar.js"></script>
    <script>
        notif_interval = 60;
        (async function() {
            pending = false;
            do {
                await fetch("{{ url_for("checkNotifs") }}")
                    .then(resp => resp.json())
                    .then(d => {console.log(d); return d;})
                    .then(data => {
                        pending = data.more;
                        if (data.notif !== "") showNotification(data.notif);
                    })
                console.log(pending);
            } while (pending);
            setTimeout(arguments.callee, notif_interval * 1000);
        })();

        let lastCoords = {
            'lat': null,
            'lon': null,
        };
        navigator.geolocation.watchPosition(async pos => {
            const coords = {
                'lat': pos.coords.latitude,
                'lon': pos.coords.longitude,
            };
            if (coords['lat'] == lastCoords['lat'] &&
                coords['lon'] == lastCoords['lon']) return;
            lastCoords = coords;
            await fetch("{{ url_for("relayPosition") }}", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(coords),
            });
        });

    </script>
</head>
<body>
<div id="viewport">

    <div id="calendar">
        <div id="addEvent" class="clickable"><i class="fas fa-plus"></i></div>
        <div id="week-select">
            <div class="button clickable">&lt;</div>
            <h3 id="current">Week of <span id="currentText" class="clickable"></span></h3>
            <div class="button clickable">&gt;</div>
        </div>
        <div id="week-view">
            <div id="timeMarks">
                <p>7:00 AM</p>
                <p>8:00 AM</p>
                <p>9:00 AM</p>
                <p>10:00 AM</p>
                <p>11:00 AM</p>
                <p>12:00 PM</p>
                <p>1:00 PM</p>
                <p>2:00 PM</p>
                <p>3:00 PM</p>
                <p>4:00 PM</p>
                <p>5:00 PM</p>
                <p>6:00 PM</p>
                <p>7:00 PM</p>
                <p>8:00 PM</p>
            </div>
            <table id="daygrid">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>

